{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load i18n %}
{% load static %}


{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="mb-4">
        <h2>{{ batchteam.batch.first.name }}</h2>
        <p class="lead">{{ batchteam.batch.first.description }}</p>
      </div>
      <div>
        <h3>{% trans "Select the contributors of your collection" %}</h3>
        <p>
          {% trans "Select the people you want to share your Collection with on the left, then click on the right arrow to move them to the panel on the right. When you have finished press the blue Save button" %}
        </p>
        <form class="" method="post">
          {% csrf_token %}
          {{ form.media }}
          {{ form|crispy }}
          <script type="text/javascript" src="{% url 'jsi18n' %}"></script>
          <button class="btn btn-primary" type="submit">{% translate "Save" %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
