{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block content %}
  <div class="row">
    {% include "partials/home_header.html" %}
  </div>
  <div class="row">
    <div class="col-md-5">
      <ul class="nav nav-tabs" id="actionTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link {% if not ul_request_form.errors %}active{% endif %} h4" id="download-tab"
                  data-bs-toggle="tab" data-bs-target="#download-tab-form"
                  type="button" role="tab" aria-controls="download-tab-form"
                  aria-selected="{% if ul_request_form.errors %}false{% else %}true{% endif %}">
            {% translate "Download" %}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link h4 {% if ul_request_form.errors %}active{% endif %}" id="upload-tab"
                  data-bs-toggle="tab" data-bs-target="#upload-tab-form" type="button"
                  role="tab" aria-controls="upload-tab-form"
                  aria-selected="{% if ul_request_form.errors %}true{% else %}false{% endif %}">
            {% translate "Upload" %}
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade {% if not ul_request_form.errors %}show active{% endif %}" id="download-tab-form"
             role="tabpanel" aria-labelledby="download-tab">
          <form method="post">
            {% csrf_token %}
            {{ dl_request_form|crispy }}
            <button class="btn btn-primary" type="submit" name="request_download">{% translate "Submit" %}</button>
          </form>
        </div>
        <div class="tab-pane fade{% if ul_request_form.errors %}show active{% endif %}" id="upload-tab-form"
             role="tabpanel" aria-labelledby="upload-tab">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ ul_request_form|crispy }}
            <button class="btn btn-primary" type="submit" name="request_upload">{% translate "Submit" %}</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <h2>
        {% translate "My collections" %}
        <a href="{% url "batch_list" %}" class="btn btn-primary">
          {% translate "View all" %}
        </a>
      </h2>
      <div class="card mb-4">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ batch_form|crispy }}
            <button class="btn btn-primary" type="submit" name="save_batch">{% translate "Create" %}</button>
          </form>
        </div>
      </div>

      <div id="batch-list">
        {% for batch in users_batches %}
          <div class="card mb-2">
            <div class="card-header bg-opacity-25" id="{{ batch.id }}">
              <div class="row">
                <div class="col">
                  <span class="h5">{{ batch.name }}</span><br>
                  <span class="small">
                    <i class="fa fa-user text-primary" aria-hidden="true"></i>
                    {{ batch.owner }}
                  </span>
                  <span class="small">
                    <i class="fa fa-clock-o text-primary" aria-hidden="true"></i>
                    {{ batch.updated_at|naturaltime }}
                  </span>
                  {% if user in batch.team.contributors.all %}
                    <span class="small">
                      <i class="fa fa-share-alt text-primary" aria-hidden="true"></i>
                      {% trans "shared with me" %}
                    </span>
                  {% endif %}
                </div>
                <div class="col-md-4 text-right h4 clearfix">
                  <div class="pull-right">
                    <span class="badge bg-secondary">
                      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                      <span id="{{ batch.id }}_submitted" class="badge ">0</span>
                    </span>
                    <span class="badge bg-success">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>
                      <span id="{{ batch.id }}_succeeded" class="badge ">0</span>
                    </span>
                    <span class="badge bg-danger">
                      <i class="fa fa-times-circle" aria-hidden="true"></i>
                      <span id="{{ batch.id }}_failed" class="badge ">0</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="lead">{{ batch.description }}</p>
            </div>
            <div class="card-footer">
              <div class="btn-group" role="group">
                {% if user == batch.owner %}
                  <a href="{% url 'edit_batch_team' batch.team.id %}" class="btn btn-sm btn-primary" role="button">
                    <i class="fa fa-share-alt" aria-hidden="true"></i> {% translate "Share" %}
                  </a>
                  <a href="{% url 'close_batch' batch.id %}" class="btn btn-sm btn-primary" role="button">
                    <i class="fa fa-times" aria-hidden="true"></i> {% translate "Close" %}
                  </a>
                  <a href="{% url 'download_batch_archive' batch.id %}" class="btn btn-sm btn-primary" role="button">
                    <i class="fa fa-download" aria-hidden="true"></i> {% translate "Download" %}
                  </a>
                {% endif %}
                <a href="{% url 'batch_details' batch.id %}" class="btn btn-sm btn-primary" role="button">
                  <i class="fa fa-search" aria-hidden="true"></i> {% translate "Details" %}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}

{% block inline_javascript %}
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      const batch_list = $('#batch-list > div.card > div.card-header').click(function () {
        const context = $(this);
        const id = context.attr('id');
        $('#batch-list > div.card > div.card-header').removeClass('bg-info')
        context.addClass('bg-info');
        $('#id_batch').val(id).change();
      });
    });
  </script>
{% endblock inline_javascript %}
