{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block content %}
  <div class="row">
    {% include "partials/home_header.html" %}
  </div>
  <div class="row">
    <div class="col-md-7">
      <h2>
        {% translate "My collections" %}
        <a href="{% url "batch_list" %}" class="btn btn-primary">
          {% translate "View all" %}
        </a>
      </h2>
      <div id="batch-list">
        {% for batch in users_batches %}
          <div class="card mb-2">
            <div class="card-header bg-opacity-25" id="{{ batch.id }}">
              <div class="row">
                <div class="col">
                  <span class="h5">{{ batch.name }}</span><br>
                  <span class="small">
                    <i class="fa fa-user text-primary" aria-hidden="true"></i>
                    {{ batch.owner }}
                  </span>
                  <span class="small">
                    <i class="fa fa-clock-o text-primary" aria-hidden="true"></i>
                    {{ batch.updated_at|naturaltime }}
                  </span>
                  {% if user in batch.team.contributors.all %}
                    <span class="small">
                      <i class="fa fa-share-alt text-primary" aria-hidden="true"></i>
                      {% trans "shared with me" %}
                    </span>
                  {% endif %}
                </div>
                <div class="col-md-4 text-right h4 clearfix">
                  <div class="pull-right">
                    <span class="badge bg-secondary">
                      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                      <span id="{{ batch.id }}_submitted" class="badge ">0</span>
                    </span>
                    <span class="badge bg-success">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>
                      <span id="{{ batch.id }}_succeeded" class="badge ">0</span>
                    </span>
                    <span class="badge bg-danger">
                      <i class="fa fa-times-circle" aria-hidden="true"></i>
                      <span id="{{ batch.id }}_failed" class="badge ">0</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {% include "partials/m_batch_tags.html" with batch=batch %}
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="lead">{{ batch.description }}</p>
            </div>
            <div class="card-footer">
              {% include "partials/m_batch_controls.html" with batch=batch show_details_btn=True %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-5">
      <h2>{% translate "Create new collection" %}</h2>
      <div class="card mb-4 bg-light">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ batch_form|crispy }}
            <button class="btn btn-primary" type="submit" name="save_batch">{% translate "Create" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
