{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block content %}
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <div class="card shadow-sm bg-secondary-light">
        <div class="card-body">
          <form class=" text-center" method="post">
            {% csrf_token %}
            {{ search_form|crispy }}
            {% if not request.user.is_superuser %}
              <div class="text-center mb-1">
                <i
                  class="fa fa-exclamation-circle text-warning"></i> {% translate "Your search will cover your 100 lastest collections." %}
              </div>
            {% endif %}
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHelp"
                    aria-expanded="false" aria-controls="collapseHelp">
              {% translate "Help" %}
            </button>
            <button class="btn btn-primary" type="submit" name="save_batch">{% translate "Find" %}</button>
          </form>
          {% if q %}
            <div class="mt-2 text-center">
              {{ results|length }} {% translate "results found for your query" %} <code>{{ q }}</code>
            </div>
          {% endif %}
          <div class="collapse mt-2 text-left" id="collapseHelp">
            <div class="card card-body bg-secondary-light">
              <p>
                This search engine allows you to perform complex queries by combining predicates and conditions.
              </p>
              <p class="">
                Example of query: <code>platform: tiktok* and post.upload_date > 2020-01-01</code>
              </p>
              <p>
                List of operators:
              <ul>
                <li><kbd>:</kbd> equals some value</li>
                <li><kbd><=</kbd> is less than or equal to some value</li>
                <li><kbd>>=</kbd> is greater than or equal to some value</li>
                <li><kbd><</kbd> is less than some value</li>
                <li><kbd>></kbd> is greater than some value</li>
                <li><kbd>: *</kbd> exists in any form</li>
                <li><kbd>and</kbd> requires both arguments to be true</li>
                <li><kbd>or</kbd> requires one or more arguments to be true</li>
                <li><kbd>(</kbd> and <kbd>)</kbd> to group predicates</li>
              </ul>
              </p>
              <p>
                List of fields:
              <ul>
                <li><kbd>owner</kbd> name of the VHS user who has requested the download</li>
                <li><kbd>tags</kbd> tags associated to the downloaded content</li>
                <li><kbd>content_id</kbd> identifier of the downloaded content</li>
                <li><kbd>collection_id</kbd> identifier of the collection the downloaded content belongs to</li>
                <li><kbd>collection_name</kbd> name of the collection the downloaded content belongs to</li>
                <li><kbd>collection_description</kbd> description of the collection the downloaded content belongs to
                </li>
                <li><kbd>origin</kbd> URL from which the content has been downloaded</li>
                <li><kbd>mimetype</kbd> mimetype of the downloaded file</li>
                <li><kbd>platform</kbd> name of the platform from which the content has been downloaded</li>
                <li><kbd>md5</kbd> MD5 hash of the downloaded file</li>
                <li><kbd>sha256</kbd> SHA256 hash of the downloaded file (<b>search by default</b>)</li>
                <li><kbd>stats.view_count</kbd> number of time the content has been viewed at the download time</li>
                <li><kbd>stats.like_count</kbd> number of time the content has been liked at the download time</li>
                <li><kbd>stats.comment_count</kbd> number of time the content has been commented at the download time
                </li>
                <li><kbd>post.uploader</kbd> name of the account who has shared the content</li>
                <li><kbd>post.uploader_url</kbd> link to the account who has shared the content</li>
                <li><kbd>post.uploader_id</kbd> identifier of the account who has shared the content</li>
                <li><kbd>post.title</kbd> title of the content</li>
                <li><kbd>post.description</kbd> description of the content</li>
                <li><kbd>post.upload_date</kbd> upload date of the content</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center mt-4">
    {% for r in results %}
      {% if not r.source.is_hidden %}
        <div class="col-md-12 mt-1">
          {% include "partials/m_search_result.html" with result=r %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
