{% load i18n %}
{% load static %}

<div class="col-md-12 mb-4">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <img class="img-fluid" src="{% static 'images/header.jpg' %}" alt="VHS header">
      <h4 class="mt-4 mb-4">
        {% translate "Welcome to VHS. This tool will help you to download videos and photographs from over 1000 websites including social media platforms. See this page on <a href=\"https://gnosis.hrw.org/how-to-use-vhs/\">Gnosis</a> to learn more about the tool and for frequently asked questions." %}</h4>
    </div>
  </div>
</div>
