{% load i18n %}
<div class="col-md-8">
  <span class="h4">
    <span class="badge bg-secondary">
      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
      <span id="{{ batch.id }}_submitted" class="badge ">0</span>
    </span>
    <span class="badge bg-success bg-opacity-50">
      <i class="fa fa-check-circle" aria-hidden="true"></i>
      <span id="{{ batch.id }}_succeeded" class="badge ">0</span>
    </span>
    <span class="badge bg-danger bg-opacity-50">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
      <span id="{{ batch.id }}_failed" class="badge ">0</span>
    </span>
  </span>
  <span class="h2">
    {{ batch.name }}
  </span>
  {% if batch.tags.all %}
    <div class="mt-2">
      {% include "partials/m_batch_tags.html" with batch=batch %}
    </div>
  {% endif %}

  <p class="lead">
    {{ batch.description }}
  </p>
  <div class="align-content-center">
    {% include "partials/m_batch_controls.html" with batch=batch show_details_btn=show_details_btn %}
  </div>
</div>
<div class="col-md-4 mb-4">
  <p>
    <i class="fa fa-user-circle-o text-primary" aria-hidden="true"></i> {{ batch.owner }}
    <span class="text-muted">
        ({% trans "owner" %})
      </span>
  </p>
  {% trans "Collection shared with: " %}
  <ul>
    {% for contrib in batch.team.contributors.all %}
      <li><i class="fa fa-user text-success" aria-hidden="true"></i> {{ contrib }}</li>
    {% empty %}
      <li>{% trans "Nobody" %}</li>
    {% endfor %}
  </ul>
</div>
