{% load humanize %}
{% load i18n %}

{% for request in batch.download_requests.all %}
  {% with in_error=request.report.first.in_error %}
    <div class="col-md-12 mb-4">
    <div class="card" id="{{ request.id }}">
      {% if in_error %}
        <div class="card-header bg-danger bg-opacity-25">
      {% else %}
        <div class="card-header bg-success bg-opacity-25">
      {% endif %}
      <samp>{{ request.url }}</samp>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p>
              {% translate "Creation date:" %} {{ request.created_at }}
            </p>
            {% if in_error %}
              <p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#errorModal-{{ request.id }}">
                  {% translate "See error log" %}
                </a>
              </p>
              {% include "partials/m_modal_error.html" with id=request.id error_message=request.report.first.error_message %}
            {% endif %}
            <span>{% translate "Downloaded content:" %}</span>
            <ul>
              {% for content in request.report.first.downloadedcontent_set.all %}
                <li>
                  {% if batch_status == "ARCHIVED" %}
                    {{ content.name }}
                  {% else %}
                    <a href="{% url "get_downloaded_content" content.id %}" target="_blank">
                      {{ content.name }}
                    </a>
                    <br>

                    {% if admin %}
                      <ul class="list-unstyled small text-muted">
                        <li>Downloaded at: {{ content.created_at }}</li>
                        <li>Size: {{ content.content.size|filesizeformat }}</li>
                        <li>SHA256: <samp>{{ content.sha256 }}</samp></li>
                      </ul>
                    {% endif %}
                  {% endif %}
                </li>
              {% empty %}
                <li>{% translate "nothing :(" %}</li>
              {% endfor %}
            </ul>
          </div>
          {% with thumbnail=request.report.first.get_thumbnail %}
            {% if thumbnail and batch_status != "ARCHIVED" %}
              <div class="col-md-2">
                <img src="{{ thumbnail }}" class="img-fluid rounded-start" alt="...">
              </div>
            {% endif %}
          {% endwith %}
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-8">
            {% for content in request.report.first.downloadedcontent_set.all %}
              {% if content.metadata %}
                <a href="#" data-bs-toggle="modal" data-bs-target="#metadataModal-{{ request.id }}"
                   class="btn btn-sm btn-secondary">
                  {% translate "View metadata" %}
                </a>
                {% include "partials/m_modal_metadata.html" with id=request.id metadata=content.metadata %}
              {% endif %}
            {% endfor %}
            {% if request.report.first.archive %}
              <a href="{% url "get_report_archive" request.report.first.id %}" class="btn btn-sm btn-secondary">
                {% trans "Download archive" %}
              </a>
            {% endif %}
          </div>
          <div class="col-md-4">
            <p class="text-md-end">
              {% translate "Status:" %}
              {% if request.status == 'SUCCEEDED' %}
                <span class="badge bg-success">{{ request.get_status_display }}</span>
              {% elif request.status == 'FAILED' %}
                <span class="badge bg-danger">{{ request.get_status_display }}</span>
              {% else %}
                <span class="badge bg-info">{{ request.get_status_display }}</span>
              {% endif %}
              - {% trans "updated" %}
              <span>{{ request.updated_at|naturaltime }}</span>
            </p>
          </div>
        </div>
      </div>
      </div>
    </div>
  {% endwith %}
{% endfor %}
