{% load i18n %}

<div class="modal fade" id="errorModal-{{ id }}" tabindex="-1"
     aria-labelledby="errorModalLabel-{{ id }}"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel-{{ id }}">{% translate "Error" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre class="small"><code> {{ error_message }}</code></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
      </div>
    </div>
  </div>
</div>
