
@import "custom_bootstrap_vars";
@import "bootstrap";




// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}


.blurred-image {
  filter: blur(0.5rem);
}

.blurred-image:hover {
  filter: blur(0);
}


.selector-available > h2 {
  font-size: 1em;
  padding: 3px;
  color: rgb(33, 37, 41) !important;
  background-color: rgb(248, 248, 248) !important;
  margin-bottom: 0 !important;
}
.selector-chosen > h2 {
  font-size: 1em;
  padding: 3px;
  color: rgb(33, 37, 41) !important;
  background-color: rgb(248, 248, 248) !important;
  margin-bottom: 0 !important;
}
